
.size {
    font-size: 11px;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

.nasim {
    background-color: #6F4E37;
}

.koen {
    background-color: orange;
}

.martijn {
    background-color: darkgreen;
}


.butt {
    width: 80px;
}


.home {
    margin-bottom: 50px;
}

