body {
    background-image: url('/img/305kescxw5dpup7y.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100vw;
}
.height-certain{
    height: 60vh;
}